# Gradle
# Build your Java project and run tests with Gradle using a Gradle wrapper script.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/java

trigger:
- master
pool:
  vmImage: 'ubuntu-latest'

steps:
#- script: ./cicd.sh
#  displayName: 'Run cicd script'
- task: Gradle@2
  inputs:
    workingDirectory: ''
    gradleWrapperFile: 'gradlew'
    gradleOptions: '-Xmx3072m'
    javaHomeOption: 'JDKVersion'
    jdkVersionOption: '1.8'
    jdkArchitectureOption: 'x64'
    publishJUnitResults: true
    testResultsFiles: '**/TEST-*.xml'
    tasks: 'build'
- task: GitHubRelease@1
  inputs:
    gitHubConnection: 'git_try'
    repositoryName: '$(Build.Repository.Name)'
    action: 'create'
    target: '$(Build.SourceVersion)'
    tagSource: 'gitTag'
    tagPattern: 'release-v1.*'
    changeLogCompareToRelease: 'lastFullRelease'
    changeLogType: 'commitBased'
  #- task: GitHubRelease@1
    #inputs:
    #gitHubConnection: 'git_try'
    #repositoryName: '$(Build.Repository.Name)'
    #action: 'create'
    #target: '$(Build.SourceVersion)'
    #tagSource: 'userSpecifiedTag'
    #tag: 'v0.1'
    #changeLogCompareToRelease: 'lastFullRelease'
    #changeLogType: 'commitBased'